{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="text-center">Ajouter un quiz</h1>
    {{form_start(form)}}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.niveau, {'label': 'Niveau : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.theme, {'label': 'Thème : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
    </div>
    {{form_end(form)}}
</div>
{% endblock %}