{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="text-center">Quiz {{quiz.theme.libelle}} - {{quiz.niveau}}</h1>
<h4>Donnez la traduction en anglais de ces mots :</h4>
<form action="{{path('faireQuiz', {'id' : quiz.id})}}" method="post">
{% for v in quiz.theme.vocabulaires %}
<label>{{v.francais}} :</label>
<input type="text" class="form-control" name="{{v.id}}">
{% endfor %}
<button type="submit" class="btn btn-success form-control mt-2">Valider</button>
</form>
<h5 class="text-center mt-3">{{score}}</h5>
</div>
{% endblock %}