{% extends "base.html.twig" %}

{% block body %}
<div class="container">
{{ form_start(form) }}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Niveau</th>
                <th scope="col">Thème</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for q in quizs %}
            <tr>
                <th scope="row">{{q.niveau}}</th>
                <th scope="row">{{q.theme.libelle}}</th>
                <td><a href="{{path('quiz-modifier',{'id':q.id})}}" class="btn btn-success mr-2">Modifier</a></td>
                <td><input type="checkbox" name="cocher[]"value="{{q.id}}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                <div class="d-flex justify-content-end">{{form_widget(form.save)}}</div>
            {{ form_end(form) }}
    </div>
{% endblock %}