{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center">Liste des Quizs disponibles</h1>
<div class="row">
            {% for q in quizs %}
<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{asset('img/theme/')}}{{q.theme.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{q.theme.libelle}}</h5>
    <p class="card-text">{{q.niveau}}</p>
    <a href="{{path('faireQuiz', {'id' : q.id})}}" class="btn btn-success">Faire le quiz</a>
  </div>
</div>
</div>
            {% endfor %}
            </div>
    </div>
{% endblock %}
