{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center mt-4">Liste des thèmes</h1>
{{ form_start(form) }}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
		<th scope="col"></th>
                <th scope="col">Thème</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for t in themes %}
            <tr>
 		<td><img src="{{ asset('img/theme/')}}{{t.image}}" class="img-fluid" alt="Image du thème"></td> 
                <th scope="row">{{t.libelle}}</th>
                <td><a href="{{path('theme-modifier',{'id':t.id})}}" class="btn btn-success mr-2">Modifier</a></td>
                <td><input type="checkbox" name="cocher[]"value="{{t.id}}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                <div class="d-flex justify-content-end">{{form_widget(form.save)}}</div>
            {{ form_end(form) }}
    </div>
{% endblock %}
