{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="text-center">Modifier le thème</h1>
                {{form_start(form)}}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.libelle, {'label': 'Libellé : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.image, {'label': 'Image : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
            <div class="form-group">
        {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
    </div>
    {{form_end(form)}}
</div>
{% endblock %}