{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="text-center">Liste de mes résultats</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Quiz</th>
      <th scope="col">Niveau</th>
      <th scope="col">Score</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for r in resultats %}
    <tr>
      <th scope="row">{{r.quiz.theme.libelle}}</th>
      <td>{{r.quiz.niveau}}</td>
      <td>{{r.note}}</td>
      <td>{{r.date | date('d/m/Y')}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}