{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center">Liste du vocabulaire</h1>
{{ form_start(form) }}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Français</th>
                <th scope="col">Anglais</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Thèmes</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for v in vocabulaires %}
            <tr>
                <th scope="row">{{v.francais}}</th>
                <th scope="row">{{v.anglais}}</th>
                <td>{{v.categorie.type}}</td>
                <td>
                {% for t in v.themes %}
                    {% if loop.last == false %}{{t.libelle}},{% else %}{{t.libelle}}{% endif %}
                {% endfor %}
                </td>
                <td><a href="{{path('vocabulaire-modifier',{'id':v.id})}}" class="btn btn-success mr-2">Modifier</a></td>
                <td><input type="checkbox" name="cocher[]"value="{{v.id}}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                <div class="d-flex justify-content-end">{{form_widget(form.save)}}</div>
            {{ form_end(form) }}
    </div>
{% endblock %}