{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="text-center">Modifier le vocabulaire</h1>
        {{form_start(form)}}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.francais, {'label': 'Français : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
        <div class="form-group">
        {{ form_row(form.anglais, {'label': 'Anglais : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.categorie, {'label': 'Catégorie : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.themes, {'label': 'Thèmes : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
    </div>
    {{form_end(form)}}
</div>
{% endblock %}