{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Abonnement {% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center">Choisissez un abonnement</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{  form_row(form.paiement, {'attr' : {'class': 'form-control'}}) }}
    </div>
    {{ form_widget(form._token) }}
    <div class="form-group">
        {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
    </div>
    {{ form_end(form, { 'render_rest' : false}) }}
</div>
{% endblock %}