{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1 class="text-center">Ajouter une catégorie</h1>
        {{form_start(form)}}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.type, {'label': 'Type : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
        <div class="form-group">
        {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
    </div>
    {{form_end(form)}}
</div>
{% endblock %}