{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center">Liste des catégories</h1>
{{ form_start(form) }}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categories %}
            <tr>
                <th scope="row">{{c.type}}</th>
                <td><a href="{{path('categorie-modifier',{'id':c.id})}}" class="btn btn-success mr-2">Modifier</a></td>
                <td><input type="checkbox" name="cocher[]"value="{{c.id}}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                <div class="d-flex justify-content-end">{{form_widget(form.save)}}</div>
            {{ form_end(form) }}
    </div>
{% endblock %}