<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{path('accueil')}}">
            <img src="{{ asset('img/InnovAnglais.png') }}" width="30" height="30" class="d-inline-block align-top"
                alt="">
            Innov'Anglais
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('accueil')}}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('listeQuiz')}}">Voir les quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('abonnement')}}">Abonnements</a>
                </li>
                {% if is_granted('ROLE_MODERATEUR') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('quiz-ajouter')}}">Ajouter un quiz</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('utilisateur-liste')}}">Liste utilisateurs</a>
                        <a class="dropdown-item" href="{{path('vocabulaire-liste')}}">Liste vocabulaires</a>
                        <a class="dropdown-item" href="{{path('theme-liste')}}">Liste thèmes</a>
                        <a class="dropdown-item" href="{{path('categorie-liste')}}">Liste catégories</a>
                        <hr>
                        <a class="dropdown-item" href="{{path('utilisateur-ajouter')}}">Ajouter utilisateur</a>
                        <a class="dropdown-item" href="{{path('vocabulaire-ajouter')}}">Ajouter vocabulaire</a>
                        <a class="dropdown-item" href="{{path('theme-ajouter')}}">Ajouter thème</a>
                        <a class="dropdown-item" href="{{path('categorie-ajouter')}}">Ajouter catégorie</a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item"><a class="nav-link" href="{{ path('inscrire') }}">S'inscrire</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path('resultats') }}">Voir mes résultats</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('profil') }}">Profil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% endif %}
                <ul>
        </div>
    </nav>
    {% for message in app.flashes('erreur') %}
    <div class="alert alert-danger text-center" role="alert">
  {{ message }}
</div>
        
    {% endfor %}
    {% block body %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/fontawesome.min.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>
