{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Inscription {% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center">Inscrivez-vous</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{  form_row(form.email, {'label': 'Email : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.password, {'label': 'Password : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_row(form.nom,  {'label': 'Nom : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_row(form.prenom, {'label': 'Prénom : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_row(form.adresse, {'label': 'Adresse : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{  form_row(form.telephone, {'label': 'Telephone : ', 'attr' : {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}