{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center">Liste des utilisateurs</h1>
{{ form_start(form) }}
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for u in utilisateurs %}
            <tr>
                <th scope="row">{{u.email}}</th>
                <td>{{u.nom}}</td>
                <td>{{u.prenom}}</td>
                <td>{{u.adresse}}</td>
                <td>{{u.telephone}}</td>
                <td><a href="{{path('utilisateur-modifier',{'id':u.id})}}" class="btn btn-success mr-2">Modifier</a></td>
                <td><input type="checkbox" name="cocher[]"value="{{u.id}}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                <div class="d-flex justify-content-end">{{form_widget(form.save)}}</div>
            {{ form_end(form) }}
    </div>
{% endblock %}