{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mx-auto" style="max-width: 40%;">
            <img src="{{asset('img/avatar/')}}{{app.user.img}}" class="img-fluid" alt="Photo de profil">
        </div>
        {{form_start(form)}}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_row(form.img, {'label': 'Photo de profil : ', 'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.password, {'label': 'Mot de passe : ', 'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.nom, {'label': 'Nom : ', 'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.prenom, {'label': 'Prénom : ', 'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.adresse, {'label': 'Adresse : ', 'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.telephone, {'label': 'Téléphone : ', 'attr' : {'class': 'form-control'}}) }}
        </div>
        {{ form_widget(form._token) }} 
        <div class="form-group">
            {{ form_row(form.save, {'attr' : {'class': 'btn btn-success'}}) }}
        </div>
        {{form_end(form, {'render_rest': false})}}
    </div>
{% endblock %}